@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.slick-slide > div {
	@apply flex justify-center items-center;
}

.slick-list {
	@apply w-full;
}

.slick-track {
	@apply flex items-center;
}

.slick-slide {
	opacity: 0.5;
	transition: all 0.3s ease;
	transform: scale(0.9);
}

.slick-center {
	opacity: 1;
	transform: scale(1);
}

@font-face {
	font-family: "NEXON Lv1 Gothic Bold";
	src: url("./fonts/NEXONLv1GothicBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NEXON Lv1 Gothic Regular";
	src: url("./fonts/NEXONLv1GothicRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PyeongChangPeace-Bold";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CookieRun-Regular";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GumiRomanceTTF";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
